body {
    background-image: url(../imagenes/FondoRegistro.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.titulo{
    text-align: center;
}




